<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <b class="alert alert-info">Angular 2 Component Using Observables!</b>
        <div class="alert">
            <!--<div *ngFor="#value of values">- {{ value }}</div>-->
          <span *ngFor="#val of values" class="badge label-danger">Val: {{val.toString()}} </span>
        </div>
        <div class="alert alert-danger">Errors: {{anyErrors}}</div>
        <div class="alert alert-success">Finished? {{finished}}</div>
        <button type="button" class="btn btn-lg btn-primary" (click)="begin()">Begin</button>
    </div>
</div>
